<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyLS | Free PHP Link Shortener</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="headimg login">
      <div class="row">
        <div class="small-12 columns" style="">
          <h1>EasyLS</h1>
          <h4>A free PHP link shortener</h4>
          <div class="login" style="width: 50%; margin-left: auto; margin-right: auto;">
          <input type="text" placeholder="Username" />
          <input type="password" placeholder="Password" />
          <a href="#" class="button">Login</a><br>
          <small>Name: AXP12.cf | 100 Short Links | EasyLS v1.0</small>
       </div>
      </div>
      
    </div>
    
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
