
template/about.html

template/configure.html

template/css/font-awesome.min.css

template/css/style.css

template/dashboard.html

template/css/style.css

template/fonts/fontawesome-webfont.eot

template/fonts/fontawesome-webfont.svg

template/fonts/fontawesome-webfont.ttf

template/fonts/fontawesome-webfont.woff

template/fonts/fontawesome-webfont.woff2

template/login.html

template/fonts/FontAwesome.otf
